<div class="" style="height:100%;">

   <!-- search view wrap -->
   <div id="searchView" ng-controller="SearchController">
      <div ng-include src="'views/shared/search-overlay.html'"></div>
   </div>
   <!-- /search view wrap -->

   <!-- list view wrap -->
   <div id="listView" class="" ng-controller="ListController">
      <div ng-include src="'views/list-view.html'"></div>
   </div>
   <!-- list view wrap -->
   
   <!-- request callback wrap -->
   <div id="" class="" ng-controller="callBackController">
      <div ng-include src="'views/call-back.html'"></div>
   </div>
   <!-- request callback wrap -->

   <!-- map view wrap -->
   <div id="map" style="height:100%;">
      <div class="google-map-canvas" id="map-canvas"></div>
   </div>
   <!-- /map view wrap -->

</div>