<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">Search for Tutors or VN Centers</h4>
	  </div>
	  <div class="modal-body">
		<p><strong>Tutors</strong></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing
		elit. Vivamus sit amet malesuada tortor. Morbi
		sodales lacinia ex, porttitor commodo mi dictum
		mattis</p>
		  <p><strong>Centers</strong></p>
		<p>Lorem ipsum dolor sit amet, consectetur
		adipiscing elit. Vivamus sit amet
		malesuada tortor. Morbi sodales lacinia </p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">OK GOT IT!</button>
	  </div>
	</div>
  </div>
</div>